html, body {
	width: 100%;
	text-align: center;
	height: 100%;
}

img {
	max-width: 460px;
}

.wrapper {
	overflow: hidden;
}

#center {
	max-width: 1280px;
	text-align: left;
	margin: 0px auto;
	padding-bottom: 20px;
}
a {
	text-decoration: underline;
	color: #035642;
}

a:link {
	text-decoration:underline;
}

a:visited {
	color:#82786F;
	text-decoration:underline;
}

a:hover, a:active, a:focus {
	color:#58a618;
	text-decoration:underline;
}

#title {
	padding-left: 20px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 35px;
	text-decoration: none;
}

#logo {
	padding-top: 10px;
}

#logo img {
	display: inline-block;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	border-right: solid #C0C0C0 2px;
}
#home img {
	max-width: 930px;
	width: 100%;
	height: auto;
	border: none;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	overflow: hidden;  */
	background-color: #f3f3f3;
	border-top: solid #C0C0C0 1px;
	border-bottom: solid #C0C0C0 1px;
	margin-bottom: 10px;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
	font-size: 14px;
	border-right: solid #C0C0C0 1px;
}

.navbar li a:hover {
	text-decoration: underline;
}

#facets img {
	max-width: 280px;
	width: 100%;
	height: auto;
}

footer {
	background-color: #4d4f5d;
	margin-top: 20px;
	text-align: center;
	height: 30px;
}

footer p {
	color: white;
	padding-top: 5px;
}

footer a, footer a:visited, footer a:link {
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}
